---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

.page-title {
    font-style: normal;
}

.entry-title {
    font-style: normal;
}

code {
    font-size: 0.7rem;
}

div.highlighter-rouge {
    line-height: 1.2;
}
